<!DOCTYPE html>
<!--
        index.html
        
        created at Jul 8, 2014
        @author: Marcellin N. <nshimiye@ovi.com>

        This file is a property of Marcellin N.
-->

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Birthday Wishes</title>

        <!-- Bootstrap -->
        <link href="bt/css/bootstrap.min.css" rel="stylesheet">


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <style type="text/css">

            .about{
                color: black;
                position: fixed;
                top:45px;
                right: 1em;
                width: 600px;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 5em;
                padding: 2em;
                padding-left: 120px;
                padding-top: 0em;
                padding-bottom: 0em;
                text-align: center;
                font-weight: bold;
                font-size: 20px;
            }

            .aWish{
                position: absolute;
                top:200px;
                left: 2px;
                width: 600px;
                min-height: 140px;
                background-color: rgba(255, 255, 255, 0.74);
                border-radius: 5em;
                padding: 2em;
                padding-left: 120px;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                text-align: center;
                font-weight: bold;
                font-size: 20px;
            }

            .aWishSearch{
                position: fixed;
                top:0;
                left: 500px;
                width: 500px;
            }
            .talkBody{
                font-weight: 500;
            }

            *{
                color: "gray";
            }
            .form-control::-webkit-input-placeholder { color: #A9B4BD; }

        </style>
    </head>
    <body  style="
           position: relative;
           background-repeat: no-repeat;
           background-color: rgb(248, 60, 60);

           ">
        <div id="fb-root"></div>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="
             background-color:rgba(255, 255, 255, 0.0);
             border-color: rgba(0,0,0,0.0);
             z-index: 100;">
            <div class="container">   
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >


                    <ul class="nav navbar-nav navbar-right">


                        <li><a href="#" class="wishesPrint">Print Card</a></li>

                        <li><a href="#" class="newWishClose">Set a Goal</a></li>
                        <li><a href="#" class="wishesAbout">About</a></li>
                        <li><a href="#" class="wishesFeedback">Feedback</a></li>

                        <li style="background-color: #3b5998; position: relative;"> 
                            <a href="#" class="FBLoggin" title="login with your facebook account">Facebook</a>
                            <div class="pinSecond" style="position: absolute;
                                 top: 50px;
                                 left: -80px;
                                 width: 250px;
                                 background-color: white;
                                 box-shadow: 0 0 5px 0 black;
                                 border-radius: 3px;
                                 display: none;
                                 ">

                                <!---------------------------------------------------->

                                <div style="margin: 1em; text-align: center;">
                                    <span class="pinError" style="color: red"></span>
                                    <form role="form" class="pinForm">
                                        <div class="form-group">
                                            <input class="form-control pin" type="password" name="pin" placeholder="type or choose a pin">
                                        </div>
                                        <div class="form-group" style="display: none;">
                                            <input class="form-control pin_verify" type="password" name="pin_verify" placeholder="verify">
                                        </div>
                                        <div class="form-group">

                                            <button type="button" class="btn btn-primary logginBtn">Continue</button>
                                            <button type="button" class="btn btn-default closePin" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </form>


                                    <!--------------------------------------------------->
                                </div>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search" style="width: 40%;" >
                        <div class="input-group" style="width:100%;">

                            <input type="text" class="form-control asearch" placeholder="search for wishes, intimate friends ..." style="background-color: rgba(255, 255, 255, 0);
                                   width:100%;" >
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle for_toggle" data-toggle="dropdown">
                                    Sort by <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right search_type" role="menu" >
                                    <li><a href="#">Names</a></li>
                                    <li><a href="#">Wishes</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>

        <div class="container " style="
             position: absolute;
             top: 0;
             left: 0;

             padding: 0px;
             width: 100%;
             z-index: 110;

             ">
            <div class="col-lg-12 " style="
                 background-image: url('bt/img/newentry.png');
                 background-repeat: no-repeat;
                 background-color: rgb(197, 197, 197);
                 box-shadow: inset 0 -8px 8px -8px #000; padding: 0;"  >
                <div class="col-lg-12" style="
                     background-color: rgba(255, 255, 255, 0.5);
                     box-shadow: inset 0 -8px 8px -8px #000;
                     ">
                    <div class="col-lg-8 col-lg-offset-2 newWish" style="
                         color: rgb(212, 225, 236);
                         margin-bottom: 15px; display: none;">
                        <form class="goalForm" role="form" style="margin-top: 15px">
                            <span class="el"></span>
                            <div class="form-group you" >
                                <textarea  class="form-control" name="body" placeholder="Goal for a new era ..." rows="3"></textarea>
                            </div>

                            <button type="button" class="btn btn-primary goalSubmit you">
                                <span style="padding-left: 3em; padding-right: 3em;">Save</span>

                            </button>
                            <a href="#" class="btn btn-danger newWishClose">cancel</a>
                        </form>

                    </div>

                    <!--feedback-->
                    <div class="col-lg-8 col-lg-offset-2 newFeedback" style="
                         color: rgb(212, 225, 236);
                         margin-bottom: 15px; display: none;">
                        <form class="feedBackForm" role="form" style="margin-top: 15px">
                            <div class="form-group">
                                <input type="text"  class="form-control" name="uname" placeholder="your name (optional)" >
                            </div>
                            <div class="form-group">
                                <textarea  class="form-control" name="body" placeholder="what do you think about the service ..." rows="3"></textarea>
                            </div>

                            <button type="button" class="btn btn-primary feedBackSubmit"> 
                                <span style="padding-left: 3em; padding-right: 3em;"> Submit</span> 
                            </button>
                            <a href="#" class="btn btn-danger wishesFeedback"> cancel </a>
                        </form>

                    </div>
                    <!-- end of feedback-->

                    <!--printing here-->
                    <div class="col-lg-8 col-lg-offset-2 newPrintHere" 
                         style="    margin-bottom: 15px; color: rgb(212, 225, 236); display: none; ">


                        <!--, Select YES if you want to order a hard copy-->
                        <form class="printForm" role="form" style="margin-top: 15px">
                            <span class="el"></span>
                            <span class="you">  You will receive a printable card in email</span>
                            <div class="form-group you">
                                <div class="input-group">
                                    <input type="email"  class="form-control" name="email" placeholder="enter your email ..." required="required">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            hard copy ? <span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right hcopy" role="menu" >
                                            <li><a href="#">YES</a></li>
                                            <li><a href="#">NO</a></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary printSubmit you"> 
                                <span style="padding-left: 3em; padding-right: 3em;"> Submit</span> 
                            </button>
                            <a href="#" class="btn btn-danger wishesPrint"> cancel </a>

                        </form>

                    </div>
                    <!--end of printing here-->


                </div>
            </div>



        </div>

        <!--=======================================================-->
        <div class="loadHolder" style="position: absolute;
             top: 300px;
             left: 500px;
             width: 100px;

             ">
            <div class="loading" style="position: absolute;
                 bottom: 40px;
                 left: 20px;
                 width: 200px;
                 height: 3px;
                 background-color: rgb(255, 221, 0);
                 border-radius: 50%;
                 box-shadow: 0 0 30px 10px rgb(255, 221, 0);
                 ">



            </div>
            <img src="bt/img/bwishesy.png" alt="wishes">
        </div>


        <!--=======================================================-->


        <div id="allWishs">



            <div class="theImage"

                 style="
                 background-color: rgba(80, 80, 80, 0.5);
                 height: 700px;
                 "
                 >
                <div class="row about" style="color: black;">
                    <div class="circleImg" style="position: absolute;
                         top: 1em;
                         left: 1em;
                         width: 100px;
                         height: 100px;
                         background-color: purple;
                         border: 3px solid white;
                         border-radius: 50%;

                         -moz-box-shadow:    inset 0 0 10px #000000;
                         -webkit-box-shadow: inset 0 0 10px #000000;
                         box-shadow:         inset 0 0 10px #000000;

                         ">
                        <img src="bt/img/bwishesy.png" alt="Logo" style="width: 90px; height: 90px" >
                    </div>
                    <h2>About</h2>
                    <div style= " 
                         margin-bottom: 10px;
                         ">
                        Organize your Facebook birthday wishes<br>
                        You can read them all<br>
                        You can search for friends who cares about you!<br>
                        You can create a Birthday Card 
                    </div>
                </div>

                <div class="row about1" style="color: black; display: none;">
                    <div class="circleImg" style="position: absolute;
                         top: 1em;
                         left: 1em;
                         width: 100px;
                         height: 100px;
                         background-color: purple;
                         border: 3px solid white;
                         border-radius: 50%;

                         -moz-box-shadow:    inset 0 0 10px #000000;
                         -webkit-box-shadow: inset 0 0 10px #000000;
                         box-shadow:         inset 0 0 10px #000000;

                         ">

                    </div>
                    <h2>Me</h2>
                    <div style= " 
                         margin-bottom: 10px;
                         ">
                        My favorite color is blue and I am happy today!
                    </div>
                </div>


            </div>
        </div>


        <!--prompting user for pin-->




        <!--prompting user for a pin-->




        <script type="text/template" id="image_view_template">
            <!--img class="theImage addedImage"
            src="<%= imageURL %>"
            alt="image one"
            style="
            position: absolute;
            top: 0;
            left: 0;
            height: 700px;
            width: 100%;
            z-index: -10;
            "-->

        </script>


        <script type="text/template" id="talk_view_template">
            <div class="circleImg" style="position: absolute;
            top: 1em;
            left: 1em;
            width: 100px;
            height: 100px;
            background-color: purple;
            border: 3px solid white;
            border-radius: 50%;

            -moz-box-shadow:    inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
            box-shadow:         inset 0 0 10px #000000;
            overflow: hidden;
            ">
            <img src="bt/img/bwishesy.png" alt="Logo" style="width: 100px; height: 100px" >
            </div>
            <h2 class="showWishBody" title="click to expand"><%= title %></h2>
            <div class="talkBody">
            <%= body %>
            </div>
        </script>




        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="bt/js/libs/jquery-2.1.1.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <script src="bt/js/libs/underscore-min.js"></script>
        <script src="bt/js/libs/backbone-min.js"></script>
        <script src="bt/js/libs/backbone.localStorage.js"></script>

        <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>


        <script  src="bt/js/libs/bootstrap.min.js"></script>

        <script src="bt/js/libs/jquery-ui.js"></script>

        <script src="bt/js/BirthdayWishes.js"></script>


        <script type="text/javascript">


            (function($) {
            var wd = $(document).width();
            var ht = $(document).height();

            $(".theImage").css({
            width: wd,
            height: ht
            });

            $(window).resize(function() {

            wd = $(document).width();
            ht = $(document).height();

            $(".theImage").css({
            width: wd,
            height: ht
            });


            });

            $(".loginArea").draggable();
            //$(".aWish").draggable();  ///--only in printing mode
            //$( ".about" ).draggable();

            /*   $(".aWish").hover(function() {


            if(!SEARCH_MODE){
            $(".aWish").css({
            opacity: 0.1
            });

            $(this).css({
            opacity: 0.99
            });

            }
            }); */


            $(".newWishClose").click(function() {
            checkLogin(".goalForm");
            $(".newFeedback").css({display: "none"});
            $(".newPrintHere").css({display: "none"});


            $(".newWish").animate({
            height: "toggle"
            }, 1000);

            });

            $(".loginOpen").click(function() {

            $(".loginArea").animate({
            height: "toggle"
            }, 1000);

            });

            $(".wishesAbout").click(function() {

            $(".about").animate({
            height: "toggle"
            }, 1000);

            });

            $(".wishesFeedback").click(function() {



            $(".newWish").css({display: "none"});
            $(".newPrintHere").css({display: "none"});
            $(".newFeedback").animate({
            height: "toggle"
            }, 1000);

            });

            $(".wishesPrint").click(function() {

            checkLogin(".printForm");


            $(".newWish").css({display: "none"});
            $(".newFeedback").css({display: "none"});

            $(".newPrintHere").animate({
            height: "toggle"
            }, 1000);

            });




            //===for search
            $(document).click(function(e){
            var check = $(e.target).attr("class"); 
            console.log("check == ",check);
            if(!check)

            {}else{
            if($(e.target).attr("class").search("asearch") < 0){
            $(".asearch").css({"background-color": "rgba(255, 255, 255, 0)"});
            $(".asearch").val("");
            SEARCH_MODE = false;
            }


            }
            });


            $(".asearch").click(function(e){
            $(e.target).css({"background-color": "rgba(255, 255, 255, 1)"});
            SEARCH_MODE = true;
            });

            // positioning the imageHolder

            var all = $(".about");

            $.each(all, function(i, el) {
            var H = $(el).outerHeight();

            var img = $(el).children(".circleImg");

            var h = $(img).outerHeight();

            var pos = (H / 2) - (h / 2);

            $(img).css({top: pos + "px"});
            });




            $(".closePin").click(function(e){
            e.preventDefault();

            console.log("========================================ddss", $(".pinSecond").css("display"));

            if ($(".pinSecond").css("display") === "none" )
            return false;



            $(".pinError").html("");

            $(".pin").val("");

            $(".pinSecond").animate({
            height: "toggle"
            });
            });




            //check login here
            function checkLogin(target){
            var thisUser = Parse.User.current();// logged in user

            if(!thisUser){
            //we present a login button

            $(target).children(".you").css({display: "none"});
            $(target).children(".el").html("only logged in users");

            }else{
            $(target).children(".you").css({display: "inline"});
            $(target).children(".el").html(""); 
            }
            }




            })(jQuery);


        </script>
    </body>
</html>
